Source: python-misaka
Section: python
Priority: optional
Maintainer: PKG OpenStack <openstack-devel@lists.alioth.debian.org>
Uploaders: Julien Danjou <acid@debian.org>,
           Thomas Goirand <zigo@debian.org>,
           Mehdi Abaakouk <sileht@sileht.net>
Build-Depends: cython,
               cython3,
               debhelper (>= 9),
               dh-python,
               openstack-pkg-tools,
               python-all,
               python-all-dev,
               python-setuptools,
               python3-all,
               python3-all-dev,
               python3-dev,
               python3-setuptools
Standards-Version: 3.9.5
Vcs-Browser: https://git.openstack.org/cgit/openstack/deb-python-misaka?h=debian%2Fnewton
Vcs-Git: https://git.openstack.org/openstack/deb-python-misaka -b debian/newton
Homepage: http://misaka.61924.nl/
XS-Testsuite: autopkgtest

Package: python-misaka
Architecture: any
Depends: ${misc:Depends}, ${python:Depends}, ${shlibs:Depends}
Recommends: ${python:Recommends}
Description: binding for Sundown, a markdown parsing library - Python 2.x
 Misaca is A Python 2 and 3 binding for Sundown, a really fast Markdown parser
 implemented in C. Misaka is written in Cython and C. And it features a set of
 Markdown extensions and customizable renderers. Just like the Sundown binding
 for Ruby, Redcarpet.
 .
 This package provides the Python 2.x module.

Package: python3-misaka
Architecture: any
Depends: ${misc:Depends}, ${python3:Depends}, ${shlibs:Depends}
Recommends: ${python3:Recommends}
Description: binding for Sundown, a markdown parsing library - Python 3.x
 Misaca is A Python 2 and 3 binding for Sundown, a really fast Markdown parser
 implemented in C. Misaka is written in Cython and C. And it features a set of
 Markdown extensions and customizable renderers. Just like the Sundown binding
 for Ruby, Redcarpet.
 .
 This package provides the Python 3.x module.
